<div class="jumbotron text-center">
  <h1>Editer <%= event.name %></h1>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <form action="/events/<%= event.slug %>" method="POST">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" value="<%= event.name %>">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="5" class="form-control"><%= event.description %></textarea>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-succes btn-lg">Modifier</button>
      </div>
    </form>
  </div>
</div>